h1 {
    text-align: center;
    color: rgb(241, 120, 7);
}
html {
    background-color: rgb(252, 214, 3);
}
img.logo {
    max-width: 100%;
}
ul {
color: rgb(104, 65, 15);


}
P{
    text-align: center;
    font-size: x-large;
    color:blue;
    border-bottom: 1px;
}